In [8]:
import random
import time
import json
import pandas as pd

In [9]:
df = pd.read_csv("temperaturi.csv")
df

               timestamp  temperatura
0    2025-12-11 16:40:17           39
1    2025-12-11 16:40:22            7
2    2025-12-11 16:40:27           17
3    2025-12-11 16:40:32           32
4    2025-12-11 16:40:37            2
..                   ...          ...
143  2025-12-11 16:52:27           45
144  2025-12-11 16:52:32           46
145  2025-12-11 16:52:37           27
146  2025-12-11 16:52:42           42
147  2025-12-11 16:52:47           39

[148 rows x 2 columns]

## 4 categorii

1. Analiza descriptiva (ce s-a întâmplat)

In [10]:
df.describe()

       temperatura
count   148.000000
mean     26.290541
std      15.067762
min       1.000000
25%      12.000000
50%      27.000000
75%      40.000000
max      50.000000

2. Analiza dignostică (de ce s-a întâmplat)

3. Analiza predictivă (Ce se va întâmpla?) - învățare automată

4. Analiza prescriptivă - Ce ar trebui să facem?